<div class="footer-container">
    <div class="footer-content">
        <div class="footer-column">
            <p class="atencion-phone">Estrenar Vivienda</p>
            <p>
                Somos el Portal Especializado de Vivienda Nueva en Colombia. Encuentra apartamentos y casas en venta nuevos en Bogotá, Cali, Medellín y el resto del país. Conoce proyectos de vivienda de interés social, constructoras y proyectos vacacionales.</p>
        </div>
    </div>
</div>