<div class="container map-container">
    <div class="mt-4">
        <h2 class="text-center mb-3">¿Cómo llegar?</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.31935435835!2d-76.50597242430614!3d3.2707109967042585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e309ff746a42521%3A0xa8f9091687b81493!2sTulipanes%20del%20Castillo!5e0!3m2!1ses!2sco!4v1685640098547!5m2!1ses!2sco"
            height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>