<div class="container">
    <div class="card p-4 shadow-sm  border-0 mb-5">
        <div class="row">
            <div class="col-sm border-right">
                <small>Área Construida</small>
                <p>84.62 m<sup>2</sup></p>
            </div>
            <div class="col-sm border-right">
                <small>Área Privada</small>
                <p>84.62 m<sup>2</sup></p>
            </div>
            <div class="col-sm border-right">
                <small>Estado</small>
                <p>Sobre planos</p>
            </div>
            <div class="col-sm border-right">
                <small>Alcobas</small>
                <p>3</p>
            </div>
            <div class="col-sm border-right">
                <small>Baños</small>
                <p>2</p>
            </div>
            <div class="col-sm">
                <small>Garajes</small>
                <p>1</p>
            </div>
        </div>
    </div>

    <div class="card p-4 shadow-sm  border-0 mb-5">
        <h2 class="mt-2">Forma de pago</h2>
        <div class="row border-bottom">
            <div class="col-sm border-right">
                <small>Separación</small>
                <p>$5.000.000</p>
            </div>
            <div class="col-sm border-right">
                <small>Cuota inicial (30%)</small>
                <p>$96.960.000</p>
            </div>
            <div class="col-sm">
                <small>Saldo a financiar</small>
                <p>$226.240.000</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm border-right">
                <small>Plazo en años</small>
                <p>15 años</p>
            </div>
            <div class="col-sm border-right">
                <small>Cuota mensual aprox.</small>
                <p>$2.803.198</p>
            </div>
            <div class="col-sm">
                <small>Banco</small>
                <p>Bancolombia</p>
            </div>
        </div>
    </div>
    <div class="card p-4 shadow-sm  border-0 mb-5">
        <h2>Detalle del inmueble</h2>
        <div class="row border-bottom">
            <div class="col-sm border-right">
                <small>Alcobas</small>
                <p>3</p>
            </div>
            <div class="col-sm border-right">
                <small>Baños</small>
                <p>2</p>
            </div>
            <div class="col-sm border-right">
                <small>Garajes</small>
                <p>1</p>
            </div>
            <div class="col-sm">
                <small>Estrato</small>
                <p>5</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm border-right">
                <small>Acabados</small>
                <p>Nivel 2 - Obra Gris</p>
            </div>
            <div class="col-sm border-right">
                <small>Características Garaje</small>
                <p>Independiente</p>
            </div>
            <div class="col-sm border-right">
                <small>Tipo de garaje</small>
                <p>Cubierto</p>
            </div>
            <div class="col-sm">
                <small>Niveles del inmueble</small>
                <p>2</p>
            </div>
        </div>
    </div>
    <div class="card p-4 shadow-sm  border-0 mb-5">
        <h2 class="mt-2">Características adicionales</h2>
        <div class="row border-bottom">
            <div class="col-sm border-right">
                <small>Estado</small>
                <p>Sobre planos</p>
            </div>
            <div class="col-sm border-right">
                <small>Número de manzanas</small>
                <p>7</p>
            </div>
            <div class="col-sm border-right">
                <small>Casas por manzana</small>
                <p>25</p>
            </div>
            <div class="col-sm">
                <small>Relación de Parqueaderos:
                </small>
                <p>1:1</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm border-right">
                <p>Conjunto Cerrado</p>
            </div>
            <div class="col-sm border-right">
                <p>Gimnasio</p>
            </div>
            <div class="col-sm border-right">
                <p>Parque Infantil</p>
            </div>
            <div class="col-sm">
                <p>Piscina para Adultos</p>
            </div>
        </div>
    </div>
</div>